


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votre Abonnement à E-Flex Gym</title>
</head>
<body>
    <h1>Bienvenue à E-Flex Gym !</h1>
    <p>Cher Adhérent,</p>
    <p>Votre abonnement à E-Flex Gym va expirer dans deux jours.</p>
    <p>Renouvelez votre abonnement pour continuer à profiter de nos services.</p>
     <p><a href="{{ subscriptionUrl }}">Cliquez ici pour voir les détails de votre abonnement</a></p>

    <p>Merci de votre confiance !</p>

    <img src="public/img/logo.png" alt="">
</body>
</html>
