{% extends 'base.html.twig' %}

{% block title %}<title>OpenStreetMap</title>{% endblock %}

{% block shop %}
  
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <style>
    #map {
      height: 500px;
    }
  </style>




<div id="map"></div>


</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

<script>
  var map = L.map('map').setView([33.8547, 35.8623], 10); // Set initial map center and zoom level

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  // Add search control
  var searchControl = L.Control.geocoder().addTo(map);

  // Function to handle search button click
  document.getElementById('search-button').addEventListener('click', function() {
    var query = document.getElementById('search-input').value;
    searchControl.geocode(query);
  });
</script>

{% endblock %}
