<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouvel Abonnement</title>
</head>
<body>
    <p>Un nouvel abonnement a été créé avec l'ID : {{ abonnementId }}</p>
</body>
</html>
